*{
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    height: 20rem;
    width: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.1px solid grey;
}

.inp{
    margin-top: 2rem;
}

.field{
    height: 2rem;
    width: 15rem;
    border: none;
    border-bottom: 0.1px solid grey;
    outline: none;
    text-align: left;
    background-color: aliceblue;
    
}

.btn{
    width: 10rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    background-color: rgb(166, 206, 241);
    color: rgb(74, 75, 76);
}

.btn:hover{
    background-color: rgb(58, 126, 186);
    color: white;
    transition: ease 0.3s;
}